.header-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.header-container h1 {
  color: greenyellow;
  margin-top: 0px;
}

#discription {
  color: rgb(255, 0, 0);
}
#lyric {
  color: aqua;
}
